:root {
    color-scheme: dark;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
}


nav {
    background-color: rgb(24, 24, 33);
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.497);
    text-align: center;
}

img{
    height: 200px;
    max-width: 100%;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pelicula {
    background-color: rgb(24, 24, 33);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.497);
    border-radius: 20px;
    width: fit-content;
    margin: 30px;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 1rem;
    
}
.pelicula button {
    margin: 10px;
}
.pelicula img {
    height: 200px;
    width:150px;
    max-width: 100%;
}

button {
    border: none;
    transition: all ease-out 0.2s;
    cursor: pointer;
    scale: 1.2;
    border-radius: 4px;
    margin: 10px;
}
button:hover {
    transform: scale(1.1);
}
button:active {
    transform:scale(0.9);
}

.padre{
    background-color: rgba(0, 0, 0, 0.47);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.modal {
    background-color: rgb(24, 24, 33);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.497);
    border-radius: 20px;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
}



.fadeIn{
    animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}


.fadeOut{
    animation: fadeOut 0.2s ease-in-out forwards;
}

@keyframes fadeOut {
    from{opacity: 1;}
    to{opacity: 0;}
}


@media (max-width: 768px) {
    .modal {
        width: 100vh;
        height: 60%;
        position: absolute;
        bottom: 0;
        animation: toUp 0.4s ease-in-out forwards;
    }
}

@keyframes toUp {
    from{transform:translateY(100%);}
    to{transform: translateY(0);}
}
